{% extends 'base.html' %}


{% block app_content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Hello, There!</h1>
        <h4>Thank you for visiting Blog App</h4>
        <p class="lead">Subscribe to our mail list to receive our blog alerts.</p>
        <hr class="my-4">
        <h6>Our services help you to view, comment and better yet create your own blog post</h6>
        <p>In the meantime explore, create and enjoy our experience</p>
        <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
    </div>
    <div class="random-quote">
        <div class="card">
            <div class="card-header text-center">
              Quote dose for you
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <h5>
                    <q>
                        {{ quotes.quote_message }}
                    </q>    
                </h5>
                <footer class="blockquote-footer">{{ quotes.author }}</footer>
              </blockquote>
            </div>
          </div>
    </div>
{% endblock %}